# AWS SDK and Services
boto3
sagemaker

# Supabase and Related Dependencies
supabase

# Environment Management
python-dotenv

# HTTP and Web Scraping
requests
beautifulsoup4
requests_aws4auth

# Web Frameworks
flask
flask_cors
flask-restx
flask_jwt_extended

# Testing and Automation
pytest
selenium

# Utilities
furl
PyJWT
pydantic
uuid
setuptools
